
# Postgres environment variables
CONTAINER_NAME=YOUR_CONTAINER_NAME
IMAGE=YOUR_IMAGE_NAME
POSTGRES_PASSWORD=YOUR_POSTGRES_PASSWORD
POSTGRES_USER=YOUR_POSTGRES_USER
POSTGRES_DB=YOUR_POSTGRES_DB
HOST_PORT=YOUR_HOST_PORT
CONTAINER_PORT=YOUR_CONTAINER_PORT


# MySQL environment variables (defaults can be overridden)
# CONTAINER_NAME=YOUR_CONTAINER_NAME
# IMAGE=YOUR_IMAGE_NAME
# MYSQL_ROOT_PASSWORD=YOUR_MYSQL_ROOT_PASSWORD
# MYSQL_DATABASE=YOUR_MYSQL_DATABASE
# MYSQL_USER=YOUR_MYSQL_USER
# MYSQL_PASSWORD=YOUR_MYSQL_PASSWORD
# HOST_PORT=YOUR_HOST_PORT
# CONTAINER_PORT=YOUR_CONTAINER_PORT